.header {
  position: relative;
  text-align: center;
  font-family: cursive;
  font-style: italic;
  font-size: large;
  color: azure;
}

body{background-color: rgb(37, 37, 37);}

#mixer {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  width: 100%;
  height: auto;
}

#pagefont {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 30px;
  letter-spacing: 6px;
  word-spacing: 6px;
  color: #C1C1C1;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  margin-left: 30px;
  margin-right: 30px;
}

#pagefont2 {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 20px;
  letter-spacing: 4px;
  word-spacing: 6px;
  color: #f0f0f0;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  margin-left: 50px;
  margin-right: 30px;
}

/* unvisited link */
a:link {
  color: #f0f0ff;
}

/* visited link */
a:visited {
  color: #f0f0ff;
}

/* mouse over link */
a:hover {
  color: #e0e0ff;
}

/* selected link */
a:active {
  color: #d0d0ff;
}

@media screen and (orientation:portrait) {
  .music {
    float: bottom;
    width: 100%;
  } 

  .mixer {
    float: top;
    width: 100%
  }

}

@media screen and (orientation:landscape) {
  .music {
    float: right;
    width: 60%;
  } 

  .mixer {
    float: left;
    width: 40%
  }

}
