.header {
  /*position: relative;*/
  text-align: center;
  font-family: cursive;
  font-style: italic;
  font-size: large;
  color: azure;
  width: 100%;

  background: #a6deff86;
  box-shadow: #313131;
  backdrop-filter: blur(2px);
}

body{
  background-image: url("html/page/MusixBackdrop.png");
}

#vid{
  display: block;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#mixer {
  background-color: rgb(44, 44, 44);
  border-color: black;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-image: url("html/page/noise.png");
  background-repeat: repeat;

  background: #a6deff86;
  border-radius: 10px;
  box-shadow: #313131;

  backdrop-filter: blur(2px);
  border: #a6deff86;
  border-style: outset;
  border-width: 6px;
}

#block-overlay {
  /*overflow: hidden;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(#ffffff00, rgba(173, 173, 173, 0.274));*/
}

#pagefont {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 30px;
  letter-spacing: 6px;
  word-spacing: 6px;
  color: #2e2e2e;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  margin-left: 30px;
  margin-right: 30px;

  box-shadow: rgba(0, 0, 0, 1) 0px 20px 25px -20px;
}

#pagefont2 {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 20px;
  letter-spacing: 4px;
  word-spacing: 6px;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  margin-left: 50px;
  margin-right: 30px;
}

a:link {color: #464646;}
a:visited {color: #5c5c5c;}
a:hover {color: #26343b;}
a:active {color: #3f3f3f;}

.page {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (orientation:portrait) {
  .announcements {order: 1; width: 100%;}
  .links {order: 2; width: 100%;}
  .performances {order: 3; width: 100%;}
  .people {order: 4; width: 100%;}
}

@media screen and (orientation:landscape) {
  .announcements {order: 1; width: 60%;}
  .links {order: 2; width: 30%;}
  .performances {order: 3; width: 60%;}
  .people {order: 4; width: 30%;}
}


#menu {
	background: #383838;
	color: #FFF;
	height: auto;
  width: 320px;
	border-radius: 10px;
  display: grid;
  position: fixed;
  margin-top: -300px;

  border-color: black;
  border-width: 3px;
  border-style: solid;
  background-image: url("html/page/noise.png");
  background-repeat: repeat;

  font-family: "Comic Sans MS", sans-serif;
  font-size: 20px;
  letter-spacing: 4px;
  word-spacing: 6px;
  color: #f0f0f0;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;

  background: #a6deff86;
  border-radius: 10px;
  box-shadow: #313131;

  backdrop-filter: blur(2px);
  border: #a6deff86;
  border-style: outset;
  border-width: 6px;
}

#menu ul, #menu li {
	margin-left: 60px;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 80%;
}
#menu li {
	float: center;
	display: block;
	position: relative;
}

#menu a {
	display: block;
	line-height: 45px;
	padding: 5 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}

#menu li a:hover {
	color: #000000;
	background: #e2e2e2;
}

.menuIcon {
  position: fixed;
  display: grid;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-top: 27px;
  margin-left: 25px;

  border: #b4e4ff86;
  border-style: groove;
  border-width: 10px;
}
