.header {
  position: relative;
  text-align: center;
  font-family: cursive;
  font-style: italic;
  font-size: large;
  color: azure;
  width: 100%;
}

body{
  background: #0B1A60;
  background: -webkit-radial-gradient(top right, #0B1A60, #313131);
  background: -moz-radial-gradient(top right, #0B1A60, #313131);
  background: radial-gradient(to bottom left, #0B1A60, #313131);
}

.menuIcon {
  position: fixed;
  display: grid;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-top: 30px;
  margin-left: 92%;
}

.menu {
  position: fixed;
  margin-left: 100%;
  background-color: rgb(36, 36, 36);
  height: 100%;
}

#vid{
  display: block;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#mixer {
  background-color: rgb(44, 44, 44);
  border-color: black;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  height: auto;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-image: url("html/page/noise.png");
  background-repeat: repeat;
}

#block-overlay {
  overflow: hidden;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(#ffffff00, rgba(173, 173, 173, 0.274));
}

#pagefont {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 30px;
  letter-spacing: 6px;
  word-spacing: 6px;
  color: #C1C1C1;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  margin-left: 30px;
  margin-right: 30px;
}

#pagefont2 {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 20px;
  letter-spacing: 4px;
  word-spacing: 6px;
  color: #f0f0f0;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  margin-left: 50px;
  margin-right: 30px;
}

/* unvisited link */
a:link {
  color: #c7ebff;
}

/* visited link */
a:visited {
  color: #a6dfff;
}

/* mouse over link */
a:hover {
  color: #c7ebff;
}

/* selected link */
a:active {
  color: #c7ebff;
}

.page {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (orientation:portrait) {
  .announcements {order: 1; width: 100%;}
  .links {order: 2; width: 100%;}
  .performances {order: 3; width: 100%;}
  .people {order: 4; width: 100%;}
}

@media screen and (orientation:landscape) {
  .announcements {order: 1; width: 60%;}
  .links {order: 2; width: 35%;}
  .performances {order: 3; width: 60%;}
  .people {order: 4; width: 35%;}
}
