.header {
  position: relative;
  text-align: center;
  font-family: cursive;
  font-style: italic;
  font-size: large;
  color: azure;
  width: 100%;
}

#mixer {
  background-color: rgb(44, 44, 44);
  border-color: black;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  height: auto;
  margin: 1%;
  background-image: url("page/noise.png");
  background-repeat: repeat;
}

#block-overlay {
  overflow: hidden;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(#ffffff00, rgba(173, 173, 173, 0.274));
}

#pagefont {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 25px;
  letter-spacing: 30px;
  word-spacing: 6px;
  color: #C1C1C1;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  margin-left: 50px;
  transform: rotateX(180);
}

#audiobox {
  background-color: rgb(31, 31, 31);
  border-color: black;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  height: auto;
  background-color: #272727ad;
  margin: 4px;
  border-collapse: collapse;
  width: 98%;
  height: auto;
  background-image: url("page/noise.png");
  background-repeat: repeat;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 15%; /* Full height (cover the whole page) */
    top: 1;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(61, 61, 61, 0.808); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  }

#audioname {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 15px;
  letter-spacing: 3px;
  word-spacing: 6px;
  color: #C1C1C1;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  margin-left: 3px;
}


body{
  background: #0B1A60;
  background: -webkit-radial-gradient(top right, #0B1A60, #313131);
  background: -moz-radial-gradient(top right, #0B1A60, #313131);
  background: radial-gradient(to bottom left, #0B1A60, #313131);
}


#seek {
    width: 98%;
    height: 10px;
}


.page {
  display: flex;
  flex-wrap: wrap;
}

/* unvisited link */
a:link {
  color: #c7ebff;
}

/* visited link */
a:visited {
  color: #a6dfff;
}

/* mouse over link */
a:hover {
  color: #c7ebff;
}

/* selected link */
a:active {
  color: #c7ebff;
}

@media screen and (orientation:portrait) {
  .music {
    width: 100%;
  } 

  .mixer {
    width: 100%
  }

}

@media screen and (orientation:landscape) {
  .music {
    width: 58%;
  } 

  .mixer {
    width: 34%
  }

}


/* Styling Checkbox Starts */
.checkbox-label {
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    line-height: 20px;
    height: 20px;
    width: 20px;
    clear: both;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #aaaaaa;
}


.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #868686;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 2px solid #494949;
}


.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #000000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #000000;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

#menu {
	background: #383838;
	color: #FFF;
	height: auto;
  width: 300px;
	border-radius: 10px;
  display: grid;
  position: fixed;
  margin-top: -300px;

  border-color: black;
  border-width: 3px;
  border-style: solid;
  background-image: url("html/page/noise.png");
  background-repeat: repeat;

  font-family: "Comic Sans MS", sans-serif;
  font-size: 20px;
  letter-spacing: 4px;
  word-spacing: 6px;
  color: #f0f0f0;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
}

#menu ul, #menu li {
	margin-left: 40px;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	float: center;
	display: block;
	position: relative;
}

#menu a {
	display: block;
	line-height: 45px;
	padding: 5 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}

#menu li a:hover {
	color: #000000;
	background: #e2e2e2;
}

.menuIcon {
  position: fixed;
  display: grid;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-top: 40px;
  margin-left: 20px;
}