.page {
  background-color: rgb(36, 36, 36);
  background-image: url("page/MusixBackdrop2.png");

  display: flex;
  flex-wrap: wrap;
}

.header {
  position: absolute;
  width: 100%;
  height: 95px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 1;

  margin: 0;
  box-shadow: rgba(163, 163, 163, 0.4) 0px 2px 4px, rgba(136, 136, 136, 0.575) 0px 7px 13px -3px, rgba(36, 36, 36, 0.2) 0px -3px 0px inset;

  backdrop-filter: blur(2px);
  background-color: rgba(69, 72, 78, 0.719);
  border-bottom: 4px solid rgb(27, 25, 32);

  text-align: center;
  font-style: italic;
  font-size: large;
  color: aliceblue;
}#headerOffset{height: 95px; width: 100%;}

@media screen and (orientation:portrait) {
  #mixerMain {width: 100%;}
  #musicMain {width: 115%; top: 1; bottom: 0; margin-left: -5%; margin-right: -5%; position: absolute;}
}

@media screen and (orientation:landscape) {
  #mixerMain {width: 30%;}
  #musicMain {width: 65%; right: 0; margin-top: 95px; margin-right: 5px; position: absolute;}
}

#mixerMain {
  box-shadow: rgba(163, 163, 163, 0.4) 0px 2px 4px, rgba(136, 136, 136, 0.575) 0px 7px 13px -3px, rgba(36, 36, 36, 0.2) 0px -3px 0px inset;
  backdrop-filter: blur(2px);
  margin: 5px;
  border: #1b1b1b86;
  border-style: solid;
  border-width: 6px;
  height: fit-content;
}

#mixerMain2 {
  box-shadow: rgba(163, 163, 163, 0.4) 0px 2px 4px, rgba(136, 136, 136, 0.575) 0px 7px 13px -3px, rgba(36, 36, 36, 0.2) 0px -3px 0px inset;
  backdrop-filter: blur(2px);
  margin: 5px;
  border: #1b1b1b86;
  border-style: solid;
  border-width: 6px;
  height: fit-content;
}

#audiobox {width: 100%; background-color: rgba(83, 83, 83, 0.295);}
#audioboxContainer {box-shadow:rgba(0, 0, 0, 0.35) 0px -2px 6px 0px inset;}
#mixerIcon {width: 10%;}
#mixerName {width: 35%;}
#mixerVolBar {width: 55%;}

#audioname {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 15px;
  letter-spacing: 0px;
  word-spacing: 6px;
  color: #bde6de;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  margin-left: 3px;
}

#musicMain {
  box-shadow: rgba(163, 163, 163, 0.4) 0px 2px 4px, rgba(136, 136, 136, 0.575) 0px 7px 13px -3px, rgba(36, 36, 36, 0.2) 0px -3px 0px inset;
  backdrop-filter: blur(2px);
  border: #1b1b1b86;
  border-style: solid;
  border-width: 6px;
}

#musicMenu {height: 55px;}
.centered {display: block; margin-left: auto; margin-right: auto;}

.musicSelected {
  backdrop-filter: blur(2px);
  background-color: rgba(69, 72, 78, 0.719);
  border:3px, solid, rgb(40, 56, 128);
  border-radius: 5px; 

  width: 100%;
  padding: 10px;
  font-size: 16px;

  cursor: pointer;
  color: #f1f1f1;
  text-align: center;
}

.musicSelected option {
  backdrop-filter: blur(3px);
  background-color:rgb(53, 53, 53);
  border:3px, solid, rgb(54, 65, 117);
  border-radius: 5px; 

  width: 100%;
  padding: 10px;
  font-size: 16px;

  cursor: pointer;
  color: #f1f1f1;
  text-align: center;
}

.musicSelected option:checked {background-color: rgb(63, 63, 63);}
.musicSelected:hover {background-color: rgb(69, 72, 78);}

#controller {
  position: fixed;
  display: block;
  top: 1; bottom: 0; right: 0; left: 0;
  width: 100%; height: 60px;
  align-content: center;

  backdrop-filter: blur(5px);
  background-color: rgba(69, 72, 78, 0.719);

  border-top: 4px solid rgb(27, 25, 32);
}body { padding-bottom: 60px; }

a:link {color: #b6b6b6;}
a:visited {color: #c4c4c4;}
a:hover {color: #667881;}
a:active {color: #3d3d3d;}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
#menu {
	height: auto;
  width: 300px;
	border-radius: 5px;
  display: grid;
  position: fixed;
  margin-top: -300px;

  box-shadow: rgba(163, 163, 163, 0.4) 0px 2px 4px, rgba(136, 136, 136, 0.575) 0px 7px 13px -3px, rgba(36, 36, 36, 0.2) 0px -3px 0px inset;
  backdrop-filter: blur(2px);
  background-color: rgba(69, 72, 78, 0.719);
  border: 4px solid rgb(27, 25, 32);

  /*font-family: "Comic Sans MS", sans-serif;
  font-size: 15px;
  letter-spacing: 4px;
  word-spacing: 6px;
  color: #f0f0f0;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;*/
}

#menu ul, #menu li {margin-left: 40px; padding: 0; list-style: none}
#menu ul {width: 80%;}
#menu li {float: center; display: block; position: relative;}

#menu a {
	display: block;
	line-height: 45px;
	padding: 5 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}

#menu li a:hover {
	color: #ffffff;
	background: rgb(87, 91, 99);
}

.menuIcon {
  position: absolute;
  display: grid;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-left: 20px;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/




#block-overlay {}
  /*overflow: hidden;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(#ffffff00, rgba(173, 173, 173, 0.274));
}
/*
#pagefont {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 25px;
  letter-spacing: 30px;
  word-spacing: 6px;
  color: #C1C1C1;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  margin-left: 50px;
  transform: rotateX(180);
}

#audiobox {
  margin: 4px;
  border-collapse: collapse;
  width: 98%;
  height: auto;

  background: #a6deff86;
  border-radius: 10px;
  box-shadow: #313131;

  backdrop-filter: blur(2px);
  border: #a6deff86;
  border-style: outset;
  border-width: 6px;
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 15%;
    top: 1;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.808);
    z-index: 2;

    background: #6893ac86;
    border-radius: 10px;
    box-shadow: #313131;

    backdrop-filter: blur(2px);
    border: #a6deff86;
    border-style: outset;
    border-width: 6px;
}

#audioname {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 15px;
  letter-spacing: 3px;
  word-spacing: 6px;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  margin-left: 3px;
}


#seek {
    width: 98%;
    height: 10px;
}

.checkbox-label {
    display: block;
    position: relative;
    margin: 7px;
    cursor: pointer;
    line-height: 20px;
    height: 20px;
    width: 20px;
    clear: both;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #aaaaaa;
}


.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #868686;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 2px solid #494949;
}


.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #000000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #000000;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

#menu {
	background: #383838;
	color: #FFF;
	height: auto;
  width: 300px;
	border-radius: 10px;
  display: grid;
  position: fixed;
  margin-top: -300px;

  border-color: black;
  border-width: 3px;
  border-style: solid;
  background-image: url("html/page/noise.png");
  background-repeat: repeat;

  font-family: "Comic Sans MS", sans-serif;
  font-size: 20px;
  letter-spacing: 4px;
  word-spacing: 6px;
  color: #f0f0f0;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
}

#menu ul, #menu li {
	margin-left: 40px;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	float: center;
	display: block;
	position: relative;
}

#menu a {
	display: block;
	line-height: 45px;
	padding: 5 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}

#menu li a:hover {
	color: #000000;
	background: #e2e2e2;
}

.menuIcon {
  position: fixed;
  display: grid;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-top: 40px;
  margin-left: 20px;
}

.header {
  position: relative;
  text-align: center;
  font-family: cursive;
  font-style: italic;
  font-size: large;
  color: azure;
  width: 100%;

  background: #a6deff86;
  border-radius: 10px;
  box-shadow: #313131;

  backdrop-filter: blur(2px);
  border: #a6deff86;
  border-style: outset;
  border-width: 6px;
}

body{
  background-image: url("page/MusixBackdrop.png");
}

#vid{
  display: block;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#mixer {
  background-color: rgb(44, 44, 44);
  border-color: black;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-image: url("html/page/noise.png");
  background-repeat: repeat;

  background: #a6deff86;
  border-radius: 10px;
  box-shadow: #313131;

  backdrop-filter: blur(2px);
  border: #a6deff86;
  border-style: outset;
  border-width: 6px;
}

#block-overlay {
  overflow: hidden;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(#ffffff00, rgba(173, 173, 173, 0.274));
}

#pagefont {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 30px;
  letter-spacing: 6px;
  word-spacing: 6px;
  color: #2e2e2e;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  margin-left: 30px;
  margin-right: 30px;

  box-shadow: rgba(0, 0, 0, 1) 0px 20px 25px -20px;
}

#pagefont2 {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 20px;
  letter-spacing: 4px;
  word-spacing: 6px;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  margin-left: 50px;
  margin-right: 30px;
}

a:link {color: #464646;}
a:visited {color: #5c5c5c;}
a:hover {color: #26343b;}
a:active {color: #3f3f3f;}

.page {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (orientation:portrait) {
  .announcements {order: 1; width: 100%;}
  .links {order: 2; width: 100%;}
  .performances {order: 3; width: 100%;}
  .people {order: 4; width: 100%;}
}

@media screen and (orientation:landscape) {
  .announcements {order: 1; width: 60%;}
  .links {order: 2; width: 30%;}
  .performances {order: 3; width: 60%;}
  .people {order: 4; width: 30%;}
}


#menu {
	background: #383838;
	color: #FFF;
	height: auto;
  width: 320px;
	border-radius: 10px;
  display: grid;
  position: fixed;
  margin-top: -300px;

  border-color: black;
  border-width: 3px;
  border-style: solid;
  background-image: url("html/page/noise.png");
  background-repeat: repeat;

  font-family: "Comic Sans MS", sans-serif;
  font-size: 20px;
  letter-spacing: 4px;
  word-spacing: 6px;
  color: #f0f0f0;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;

  background: #a6deff86;
  border-radius: 10px;
  box-shadow: #313131;

  backdrop-filter: blur(2px);
  border: #a6deff86;
  border-style: outset;
  border-width: 6px;
}

#menu ul, #menu li {
	margin-left: 60px;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 80%;
}
#menu li {
	float: center;
	display: block;
	position: relative;
}

#menu a {
	display: block;
	line-height: 45px;
	padding: 5 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}

#menu li a:hover {
	color: #000000;
	background: #e2e2e2;
}

.menuIcon {
  position: fixed;
  display: grid;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-top: 27px;
  margin-left: 25px;

  border: #b4e4ff86;
  border-style: groove;
  border-width: 10px;
}*/
